.stars {
    img {
        width: 20px;
    }
}

@media (width >= 769px) {
    .stars {
        display: flex;
        gap: 0.6em;
        img {
            width: 30px;
        }
    }
}

@media (width >= 2000px) {
 .stars {

    gap: 1em;
 }

}