.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tags-container .tag p {
  background: rgb(255, 96, 96);
  color: rgb(255, 255, 255);
  padding: 0.5em 1em;
  border-radius: 10px;
  font-size: 0.6em;
  width: 100px;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 1.8em;
}

@media (width >= 769px) {
  .tags-container .tag p {
    font-size: 0.8em;
    width: 120px;
  }
}
@media (width >= 2000px) {
  .tags-container {
    gap: 1.5em;
  }
  .tags-container .tag p {
    margin-top: 1em;
    font-size: 0.9em;
    width: 180px;
  }
}