.housing-page {
    margin: 0 5%;
    .lower-card-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.8em;
        .desktop-box {
            display: flex;
            flex-direction: column;
               .desktop-box__titles {
                    display: flex;
                    flex-direction: column;
                    gap: 0.7em;
                }
        }
    h2 {
        font-size: 1.4em;
        font-weight: 500;
    }
    }
    .host-stars {
        margin: 1em 0 0 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        .host {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 1em;
            p {
                width: 80px;
                font-size: 0.9em;
                display: inline-block;
                text-align: right;
                white-space: pre-line;
            }
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 0.5em;
            }
        }
    }
}

//Desktop version
@media (width >= 769px) {
    .housing-page {
        margin-bottom: 8%;
        .lower-card-text {
             h2 {
        font-size: 1.8em;
    }
            .desktop-box {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .desktop-box__titles {
                    gap: 0.8em;
                }
            }
        }
        .host-stars {
            flex-direction: column;
            gap: 1.5em;
            .host {
                p {
                    font-size: 1.2em;
                }
                img {
                    width: 60px;
                    height: 60px;
                }
            }
        }
   .collapse-items {
    display: flex;
    justify-content: space-between;
    gap: 4em;
   }
}
}

@media (width >= 2000px) {
    .housing-page {
 .lower-card-text {
    gap: 1em;

    .desktop-box {
        .desktop-box__titles {
            margin-bottom: 1em;
        }
    }
             h2 {
        font-size: 2.2em;
    }
    p {
        font-size: 1.3em;
    }
    .host {
        gap: 2.5em;
        p {
            font-size: 1.4em;
        }
    }
    .host-stars {
        gap: 2.5em;
    }
    .collapse-items {
        h3 {
            font-size: 1.3em;
        }
        li {
            font-size: 1.3em;
        }
    }
}
}
}