.MenuCollapse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}

@media (min-width: 769px) {
  .about-container {
    display: flex;
    flex-direction: column;
    min-height: 72vh;
  }
  .about-container .MenuCollapse {
    flex: 1;
  }
}