.dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1em 0;
  border-radius: 5px;
  cursor: pointer;
}
.dropdown .TitlePannel {
  background: rgb(255, 96, 96);
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  border-radius: 5px;
}
.dropdown .TitlePannel h3 {
  color: white;
}
.dropdown .TitlePannel img {
  width: 20px;
  height: 20px;
}
.dropdown .HiddenText .writing-txt, .dropdown .HiddenText .list-text {
  background: rgb(246, 246, 246);
  padding: 1.5em 1em 1em 1em;
  border-radius: 10px;
}

@media (min-width: 769px) {
  .dropdown {
    width: 75%;
  }
  .dropdown .TitlePannel {
    padding: 1em;
  }
}