.activeRoute {
  text-decoration: underline;
}

header {
  padding: 3% 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header #Logo-Header-Desktop {
  display: none;
}
header #Logo-Header-Mobile {
  display: block;
}
header nav {
  display: flex;
  gap: 1em;
}
header nav a {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  text-decoration: none;
  color: #FF6060;
  text-transform: uppercase;
}

header > *:nth-child(2) {
  flex: 1;
}

@media (max-width: 350px) {
  header nav {
    gap: 0.5em;
  }
  header nav a {
    font-size: 0.6em;
  }
}
@media (width >= 769px) {
  header #Logo-Header-Desktop {
    display: block;
  }
  header #Logo-Header-Mobile {
    display: none;
  }
  header nav {
    gap: 3em;
    font-size: 1.6em;
  }
  header nav a {
    text-transform: capitalize;
  }
}
@media (width >= 2000px) {
  header nav a {
    font-size: 1.15em;
  }
}