.activeRoute {
  text-decoration: underline;
}

@media (min-width: 769px) {
  header {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header #Logo-Header-Desktop {
    display: block;
  }
  header #Logo-Header-Mobile {
    display: none;
  }
  header nav {
    display: flex;
    gap: 4em;
  }
  header nav a {
    font-size: 1.6em;
    text-decoration: none;
    color: #FF6060;
  }
}
header {
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header #Logo-Header-Desktop {
  display: none;
}
header #Logo-Header-Mobile {
  display: block;
}
header nav {
  display: flex;
  gap: 1em;
}
header nav a {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  text-decoration: none;
  color: #FF6060;
  text-transform: uppercase;
}