@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

// Mobile version
@media (max-width: 768px) {
header {
        padding: 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
            
        #Logo-Header-Desktop {
            display: none;
        }
        #Logo-Header-Mobile {
            display: block;
        }
        nav {
            display: flex;
            gap: 1em;

            a {
             font-family: 'Montserrat', sans-serif;
             font-size: 0.9em;
             text-decoration: none;
             color: #FF6060;
             text-transform: uppercase;
            }   
        }
}

}

