// Mobile version
footer {
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    gap: 15px;
    margin-top: 2em;
    // position: fixed;
//   bottom: 0;
//   left: 0;
//   right: 0;

    #Logo-Footer-Mobile {
        display: block;
    }
    p {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.8em;
    }
}

// Desktop version
@media (min-width: 769px) {
footer {
    gap : 30px;
    p {
        font-size: 1.2em;
    }
}

}