// Mobile version
.banner {
    padding: 7%;
    margin: 2% 5%;
    background-color: rgb(177, 177, 177);
    background-image: url("../../assets/Banner-Mobile.png");
    background-size: cover;
    border-radius: 10px;
    background-blend-mode: multiply;
    h1 {
        color: white;
        font-weight: 400;
        font-size: 1.5em;
        line-height: 1;
    }
    span {
        display: block;
        color: #FFFFFF;
    }
}

// Desktop version
@media (min-width: 769px) {
  .banner {
    margin: 1% 5%;
    background-image: url("../../assets/Banner-Desktop.png");
    background-size: cover;
    border-radius: 25px;
    font-size: 1.7em;;
    display: flex;
    justify-content: center;
    span {
      display: inline;
    }
  }
}

